@import 'reset.css';

.books-list {
    td:nth-child(1) {width:20%;}
    td:nth-child(2) {width:20%;}
    td:nth-child(3) {width:40%;}
    td:nth-child(4) {width:10%;}
    td:nth-child(5) {width:10%;}
}

h1 {
    font-size: 32px;
}

a {
    cursor: pointer;
}

.page-heading {
    display: flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
}

.modal-row-buttons { 
    display:flex;

    justify-content: end;

    button {
        min-width: 120px;
        
        &:last-of-type {
            margin-left:15px;
        }
    }
} 